/* .carousel-item-padding-40-px {
padding: 10px;
margin: 5px;
}

.custom-dot-list-style{
  font-size: 2px;
}

.carousel-container{
 margin:auto;
 background-color: rgb(238, 155, 155);
} */
.imagecaro:hover{
background-color: red;
}